@use '../../scss/' as *;

.home {
   
    &__list {
        position: relative;
        margin: 10px 40px;
        text-align: center;
        &__title {
            text-shadow: $textshadow;
            font-size: 2.6rem;
            position: absolute;
            left:50%;
            top:-65px;
            transform: translateX(-50%);
        }
    }
}