@use '../../scss/' as *;

.home {
   
    &__list {
        position: relative;
        margin: 30px 40px ;
       
        text-align: center;
        &__title {
            text-shadow: $textshadow;
            font-size: 2.6rem;
            position: absolute;
            left:50%;
            top: -14px;
            transform: translateX(-50%);
        }
    }
}