$white: #fff;
$black: #000;
$textshadow:2px 2px rgba(255, 0, 0, 0.545);


// 
$bg-red: #ff0000;
$bg-red-hover: #bc5656;
$body-bg: #0f0f0f;


// 
$mobile-width: 600px;
$tablet-width: 1024px;
$header-height:128px;


